<!DOCTYPE html>
<html>
  <head>
      <meta charset="ISO-8859-1">
      <title>Index </title>
      <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
     <h1>SongHub</h1>
     <p><i>Dive into the World of Music</i></p>
     <section>
        <form action="register">
           <input type="submit" value="REGISTRATION"/>
        </form>
     
        <form action="login">
            <input type="submit" value="LOGIN"/>
        </form>
     </section>
  </body>
</html>